<h1>Login to Flight Planner!</h1>

<%= render partial: "shared/errors", locals: {model: @pilot}%>

<%= form_tag(sessions_path) do %>
  <%= text_field_tag :username, '', :placeholder => "username here" %>
  <%= password_field_tag :password, '', :placeholder => "password here" %></br>
  <%= submit_tag "Login"%>
<% end %>

</br></br>
<%= link_to 'Login via Facebook here', '/auth/facebook' %></br>
<%= link_to 'New users register here', new_pilot_path  %>
